* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: auto;
}

.enhance-container-header {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #313131a9;
  padding: 0px 16px 0px 16px;
  width: 100%;
  flex-wrap: wrap;
  height: 50px;
  /* 去除滚动条 */
}

.enhance-container-header::-webkit-scrollbar {
  display: none;
}

.enhance-container-header-item {
  color: white;
  margin-right: 16px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  padding: 0 10px;
  white-space: nowrap;
}

.enhance-container-header-item-active {
  color: white;
  background-color: #865bf7;
}

.header-nav-menu {
  position: absolute;
  right: 0px;
  top: 50%;
  width: 50px;
  height: 100%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  color: white;
  background-color: #865bf7;
  text-align: center;
  line-height: 40px;
}

.header-nav-menu img {
  display: block;
  width: 20px;
  height: 20px;
  margin: 20px auto;
}

.canvas-container {
  height: 100%;
  overflow: auto;
}

.canvas-container .canvas-body {
  display: block;
  height: 100%;
  width: 100%;
}
